<ul>
	<li>
		<a href="##">
			<i class="yo-ico">&#xe652; </i>
			<span>目的地</span>
		</a>
	</li>
	<li>
		<a href="##">
			<i class="yo-ico">&#xe675; </i>
			<span>游记攻略</span>
		</a>
	</li>
	<li>
		<a href="##">
			<i class="yo-ico">&#xe680; </i>
			<span>商城</span>
		</a>
	</li>
	<li>
		<a href="##">
			<i class="yo-ico">&#xe6ad; </i>
			<span>提问</span>
		</a>
	</li>
	<li>
		<a href="##">
			<i class="yo-ico">&#xe646; </i>
			<span>酒店</span>
		</a>
	</li>
	<li>
		<a href="##">
			<i class="yo-ico">&#xe691; </i>
			<span>会玩</span>
		</a>
	</li>
	<li>
		<a href="##">
			<i class="yo-ico">&#xe698; </i>
			<span>旅行精选</span>
		</a>
	</li>
	<li>
		<a href="##">
			<i class="yo-ico">&#xe6b9; </i>
			<span>更多</span>
		</a>
	</li>
</ul>
