<div class="index-mall-title">
	<h2>穷游商城</h2>
	<a href="Mall.html#hapge">更多</a>
</div>
<div class="index-mall-nav1">
	<a><img src="/images/mall1.png"</a>
	<a><img src="/images/mall2.png"</a>
	<a><img src="/images/mall3.png"</a>
	<a><img src="/images/mall4.png"</a>
</div>
<div class="index-mall-nav2">
	<ul>
		<li><i class="yo-ico">&#xe6de;</i><span>门票/票券</span></li>
		<li><i class="yo-ico">&#xe6d6;</i><span>当地游</span></li>
		<li><i class="yo-ico">&#xe66c;</i><span>WiFi电话卡</span></li>
		<li><i class="yo-ico">&#xe658;</i><span>交通票券</span></li>
		<li><i class="yo-ico">&#xe661;</i><span>当地参团</span></li>
		<li><i class="yo-ico">&#xe70e;</i><span>接送机/包车</span></li>
	</ul>
</div>