<!-- <footer> -->
    <div class="inp-content">
        <div class="username">
            <i class="yo-ico">&#xe657;</i>
            <input type="text" placeholder="手机号/邮箱/用户名">
        </div>
        <div class="password">
            <i class="yo-ico">&#xe669;</i>
            <input type="password" placeholder="密码">
        </div>
        <div class="forget">
            <a href="##">忘记密码</a>
        </div>
        <div class="login">
            登录
        </div>
        <div class="phone">
            境外手机登录
        </div>
    </div>
    <div class="third">
        第三方帐号登录
    </div>
    <div class="link">
        <i></i><i></i>
    </div>
<!-- </footer> -->