<div class="mes-content">
    <div class="phone-inp">
        <div class="phone-inp-L">
            <div class="country-code">+86<i class="yo-ico">&#xe6dc;</i></div>
        </div>
        <div class="phone-inp-R">
            <div class="left"></div>
            <input type="text" name="" id="phone" placeholder="手机号">
        </div>
    </div>
    <div class="pic-inp">
        <div>
            <i class="yo-ico">&#xe669;</i>
            <input type="text" name="" id="" placeholder="图片验证码">
        </div>
        <div class="pic">
            <img src="https://m.qyer.com/passport/captcha?scene=smslogin&timer=1539227026180" alt="">
        </div>
    </div>
    <div class="code-inp">
        <div>
            <i class="yo-ico">&#xe669;</i>
            <input type="text" name="" id="" placeholder="短信验证码">
        </div>
        <div class="code">
            <a href="##">
                发送验证码
            </a>
        </div>
    </div>
    
    <div class="link">
        <div class="signUP">
        <a href="##">立即注册</a> 
        </div>
    </div>