<div class="submit">
    <header>
        <div class="comeBack">
           <i class="yo-ico">&#xe697;</i>
        </div>
        <div class="title">
           登录
        </div>
        <div>
            <a href="signUpBox.html">
                注册
            </a>
        </div>
    </header>
    <main>
        <div class="warn">
            根据国家网络安全法要求，穷游网将进行帐号实名制认证，即日起所有帐号需绑定手机号才可生效。
            <a href="##">查看详情</a>
        </div>
        <div class="select">
            <div class="active">帐号登录</div>
            <div class="">短信快捷登录</div>
        </div>
    </main>
    <footer>
        <div class="inp-content">
            <div class="username">
                <i class="yo-ico">&#xe657;</i>
                <input type="text" placeholder="手机号/邮箱/用户名">
            </div>
            <div class="password">
                <i class="yo-ico">&#xe669;</i>
                <input type="password" placeholder="密码">
            </div>
            <div class="forget">
                <a href="##">忘记密码</a>
            </div>
            <div class="login">
                登录
            </div>
            <div class="phone">
                境外手机登录
            </div>
        </div>
        <div class="third">
            第三方帐号登录
        </div>
        <div class="link">
            <i></i><i></i>
        </div>
    </footer>    
</div>